<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="sds" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>

  <sds>
    <add key="maxAge" value="120" />
    <add key="showExpires" value="false" />
    <add key="user" value="" />
    <add key="password" value="" />
    <add key="proxy" value="http://amundsen.com/sds-proxy/" />
    <add key="root" value="examples/to-do" />
    <add key="transforms" value = "~/transforms/" />
  </sds>

  <system.web>
    <compilation defaultLanguage="c#" debug="true" />
    <httpHandlers>
      <!-- register handler -->
      <!--
      uses the following ISAPI_Rewriter rules
      RewriteRule ^/examples/to-do/files/(.*) /to-do/files/$1 [L,I]
      RewriteRule ^/examples/to-do/(.*) /to-do/root/to-do.http\?id=$1 [L,I]
      
      register .http in IIS as a valid extension using .NET engine 
      all verbs = yes
      script engine = yes
      check if file exists = no
      -->
      <add verb="*" path="to-do.http" type="Amundsen.HTTPSamples.FullMethodSet.Resource,Amundsen.HTTPSamples.FullMethodSet"/>
    </httpHandlers>
  </system.web>

</configuration>
